// placeholder for test, dont't remove it.

//.content {
//  font-size 30px;
//}

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light


.el-button--primary.is-plain {
    color: #258fb8;
    background: #ecf5ff;
    border-color: #b3d8ff
}

.el-button--primary.is-plain:focus,.el-button--primary.is-plain:hover {
    background: #258fb8;
    border-color: #258fb8;
    color: #FFF
}

.el-button--primary.is-plain:active {
    background: #1e85aa;
    border-color: #1e85aa;
    color: #FFF;
    outline: 0
}

.el-button--primary.is-plain.is-disabled,.el-button--primary.is-plain.is-disabled:active,.el-button--primary.is-plain.is-disabled:focus,.el-button--primary.is-plain.is-disabled:hover {
    color: #8cc5ff;
    background-color: #ecf5ff;
    border-color: #d9ecff
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #258fb8;
    color: #FFF;
}

.el-select-dropdown__item.selected {
    color: #258fb8;
    font-weight: 700;
}
